/* Large desktops and laptops */

@media (min-width: 1200px) {}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .hero_area header {
        top: 10px;
    }
    .hero_area .tablecell {
        padding: 0em 16px;
    }
    .about_creative_area h1,
    .special_service_area h1,
    .latest_design_area h1,
    .team_member_area h1,
    .portfolio_area h1,
    .pricing_area h1,
    .find_us h1 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 1.5em;
        font-size: 2.4em;
    }
    .agency_nav .agency_header>a.agency_logo {
        width: 260px;
        height: auto;
    }
    .agency_nav .agency_header>a.agency_logo img {
        transform: scale(.7);
        margin-top: 0em;
        margin-left: -1.7em;
    }
 
    .agency_nav  .agency_menu li > a {
        padding-top: 15px;
    }
    .about_creative_area h1+p {
        margin-bottom: 2.65em;
    }
    .portfolio_area h1 {
        margin-top: 4em;
        margin-bottom: 1em;
    }
    .working_hours .duty {
        font-size: 1.5em;
    }
    .working_hours .name {
        font-size: 1.1em;
    }
    .about_creative_area .work_p {
        padding: 0em 2.5em;
    }
    .about_creative_area .work_p p {
        padding-top: 1.5em;
    }
    .find_us h1 {
        margin-bottom: 1.2em;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .default_pading {
        padding: 50px 0em;
    }
    .hero_area .tablecell {
        padding: 0em 16px;
    }
    .about_creative_area h1,
    .special_service_area h1,
    .latest_design_area h1,
    .team_member_area h1,
    .portfolio_area h1,
    .pricing_area h1,
    .find_us h1 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 1.5em;
        font-size: 2.1em;
    }
    .agency_nav .agency_header>a.agency_logo img {
        transform: scale(.7);
        margin-top: -.5em;
        margin-left: -1.5em;
    }
    .hero_area header {
        top: 5px;
    }
    .welcome_area div.tablecell {
        padding-top: 4em;
    }
    .hero_text h1 {
        margin-bottom: .3em;
        font-size: 2.3em;
    }
    .about_creative_area h1 {
        margin-bottom: 1em;
    }
    .about_creative_area h1+p {
        margin-bottom: 2.5em;
    }
    .about_creative_area .work_bg {
        padding-top: 0em;
        padding-right: 6em;
        padding-bottom: 0;
        padding-left: 3.5em;
    }
    .about_creative_area .work_bg .working_hours {
        padding: 3em 0em;
    }
    .work_bg .working_circle {
        position: absolute;
        top: 50%;
        right: 0;
        width: 60px;
        height: 60px;
        margin-top: -30px;
        margin-left: 22px;
        border: 8px solid orangered;
    }
    .working_hours .duty {
        font-size: 1.5em;
    }
    .working_hours .name {
        font-size: 1.1em;
    }
    .about_creative_area .work_p {
        padding: 0em 0em;
    }
    .about_creative_area .work_p p {
        padding-top: 1.5em;
    }
    .blog_text h3 {
        font-size: 1.3em;
        margin-top: 1em;
        margin-bottom: .5em;
    }
    .blog_text h3+p {
        margin-bottom: 2em;
    }
    .latest_design_area .img-caption span b {
        font-size: 2em;
    }
    .team_member_area.default_padding {
        padding-bottom: 1em;
    }
    .member_details p {
        margin-bottom: 3em;
    }
    .portfolio_area {
        background-color: #FFF;
    }
    .portfolio_area h1 {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    .cart_list {
        padding: 1.1em;
        transition: all 0.5s;
        margin-bottom: 1em;
    }
    .cart_list:hover {
        box-shadow: 1px 10px 20px rgba(0, 0, 0, .3);
    }
    .cart_list h3 {
        font-size: 1.3em;
    }
    .cart_list p {
        margin-top: 1em;
    }
    .cart_list span.price {
        font-size: 1.5em;
        margin-bottom: .5em;
        margin-top: .5em;
    }
    .cart_list span i.fa {
        font-size: 3em;
    }
    .cart_list a.btn.pricing_btn {
        background-color: orangered;
        color: white;
        border-radius: 0px;
        margin-bottom: .5em;
        margin-top: .5em;
    }
    .contact_bg {
        width: 100%;
        float: none;
        min-height: 500px;
    }
    .contact_number {
        width: 100%;
        float: none;
        z-index: 2;
    }
    .contact_number .left_side {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 15px;
        width: 100%;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {}